<div class="container">
  <div class="top-content">
    <div class="left-content">
      <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
            No bank found
          </div>
        </div>

        <div class="example-table-container">
          <table
            mat-table
            [dataSource]="data"
            class="example-table"
            matSort
            matSortActive="lastUpdated"
            matSortDisableClear
            matSortDirection="desc"
          >
            <!-- Number Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let row">
                <mat-icon *ngIf="!editMode" title="edit" (click)="edit(row._id)" color="primary">edit</mat-icon>
                <mat-icon *ngIf="editMode" title="save" (click)="save(row._id)" color="primary">save</mat-icon>
                <mat-icon *ngIf="editMode" title="cancel" (click)="cancel()" color="accent">cancel</mat-icon>
                <mat-icon *ngIf="!editMode" title="delete" (click)="delete(row._id)" color="primary">delete</mat-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="product">
              <th mat-header-cell *matHeaderCellDef>Product count</th>
              <td mat-cell *matCellDef="let row">{{ row.products.length }}</td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef>Code</th>
              <td mat-cell *matCellDef="let row">
                <mat-label *ngIf="!selected(row._id)">
                  {{ row.code }}
                </mat-label>
                <input
                  #code
                  *ngIf="editMode && selected(row._id)"
                  type="text"
                  [value]="selectedBank.code"
                  class="inline-edit"
                />
              </td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let row">
                <mat-label *ngIf="!selected(row._id)">
                  {{ row.name }}
                </mat-label>
                <input
                  #name
                  *ngIf="editMode && selected(row._id)"
                  type="text"
                  [value]="selectedBank.name"
                  class="inline-edit"
                />
              </td>
            </ng-container>

            <!-- Created Column -->
            <ng-container matColumnDef="lastUpdated">
              <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                Updated
              </th>
              <td mat-cell *matCellDef="let row">{{ format(row.lastUpdated) }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>

        <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
      </div>
    </div>
    <div class="right-content">
      <div class="shrink bank-detail">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" />
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="productData" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
              <td mat-cell *matCellDef="let row"></td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="content">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Content</th>
              <td mat-cell *matCellDef="let row">{{ contentToString(row.content) }}</td>
            </ng-container>

            <!-- Color Column -->

            <tr mat-header-row *matHeaderRowDef="productColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: productColumns"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom add-bank">
    <add-bank (onSave)="updateData()"></add-bank>
  </div>
</div>
